* {
    font-family:Helvetica, Arial; 
    font-size: 15px;
    margin-left:5px;
    
    background-image: url("https://user-images.githubusercontent.com/119537835/277681474-71e51688-8f29-4b1b-9cfc-f0377871f6d8.svg");

}


#title{
  margin: 1em auto;
  text-align: left;
  
  font-size: 25px
  
}


#email{width: 250px;
height: 20px}

#checkbox{margin: 10px auto;
}

.align{
display:grid;   
padding-top: 10px;

margin-top:10px;
width: 250px;  
height: 20px;  
padding-bottom:5px;
}
#name{
height: 20px;
}


#textarea{
height: 150px; 
maxlenght: 200;
border: light GREY ; 
padding-bottom: 10px;
margin-top:10px;
}

fieldset{
border: 1px light GREY ;  
width: 200px;  
height: 20px;  
padding-top: 10px;
padding-bottom: 10px;
margin-top:10px;
justify-content: center;
font-size: 15px;
}

#submit{  
border: 2px solid black ;  
width: 80px;  
height: 30px;  
padding-top: 10px;
margin-top:10px;
padding-bottom:20px;
justify-content: center;
font-size: 15px;
} 

#dropdown{   
width: 200px;  
height: 30px;  
padding-top: 0px;
margin-top:10px;
margin-bottom: 5px;
padding-bottom:0px;
justify-content: center;
font-size: 15px;

} 
